<div class="container" ng-hide="hide_flg">
  <div class="row m-top-10">
    <div id="in-canvas" class="col-lg-6 col-lg-offset-3">
      <canvas id="edit-canvas" width="300" height="300" ng-init="init()" ng-keydown="moveText($event)" tabindex="0"></canvas>
    </div>
  </div>

  <div class="row m-top-5">
    <div id="text-setting" class="col-lg-6 col-lg-offset-3">
      <input type="textarea" class="form-control" placeholder="LGTM" ng-model="input_text" ng-keyup="changeText()"></input>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="changeSize(10)">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" ng-click="changeSize(-10)">
          <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
        </button>
      </div>
      <button type="button" class="btn btn-default" ng-click="reset()">
        Reset
      </button>
    </div>
  </div>

  <div class="row m-top-5">
    <div id="text-setting" class="col-lg-6 col-lg-offset-3">
      <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" id="select-font" class="btn btn-default dropdown-toggle" ng-click="toggleDropdown($event)" dropdown-toggle ng-disabled="disabled">
          Font select
          <span class="caret"></span>
        </button>
        <ul id="font-list" class="dropdown-menu" role="menu">
          <li><a href="" ng-repeat="font in fontList" ng-click="changeFont(font[0])">{{font[0]}}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row m-top-5">
    <div id="download" class="col-lg-6 col-lg-offset-3">
      <button type="button" class="btn btn-default" ng-click="downloadImage()">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Download
      </button>
    </div>
  </div>
</div>
